@{
    ViewBag.Title = "Home Page";
}

<div class="content-wrapper">

    <!-- Page header -->
    <div class="page-header page-header-light">
        <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
            <div class="d-flex">
                <div class="breadcrumb">
                    <a href="@Url.Action("Index", "Home")" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
                </div>
                <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <!-- Home Content -->
        @*Timezone UTC : @ViewBag.UTC <br />
        Timezone Jakarta : @ViewBag.Jakarta <br />
        Timezone Melbourne : @ViewBag.Melbourne*@
        <!-- /Home Content -->
    </div>
    <!-- /content area -->
    
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>